<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code {
    private Theme theme = new Theme
        {
            BarOptions = new()
            {
                HorizontalHeight = "50px",
                VerticalBrandHeight = "45px",
            },
            BreakpointOptions = new()
            {
            },
            ColorOptions = new()
            {
                Primary = "#88BD41",
            },
            BackgroundOptions = new()
            {
                Primary = "#88BD41",
            },
        };
}
